<div class="panel panel-default panel-horizontal">

    <a class="twitter-timeline" data-height="1545" href="https://twitter.com/cruzrojainforma">Tweets by cruzrojainforma</a>
    <script
        async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>