<div style="text-align: center;">
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/images/8.jpg" alt="Servicio de Urgencia Adultos" width="60" height="60">
            <h3>Servicio de Urgencia Adultos</h3>
            <div class="resumen">Desde hoy la atención a tus URGENCIAS está más cerca.</div>
        </div>
        <div class="panel-footer"><a href="#" class="vermas">Ver más</a></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/images/9.jpg" alt="Servicio de Urgencia Adultos" width="60" height="60">
            <h3>Especialidades Médicas</h3>
            <div class="resumen">Más de 60 boxes de atención al servicio de nuestros pacientes.</div>
        </div>
        <div class="panel-footer"><a href="#" class="vermas">Ver más</a></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/images/7.jpg" alt="Servicio de Urgencia Adultos" width="60" height="60">
            <h3>Diagnóstico</h3>
            <div class="resumen">Un equipo profesional de alto nivel, tecnología avanzada.</div>
        </div>
        <div class="panel-footer"><a href="#" class="vermas">Ver más</a></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/images/11.jpg" alt="Servicio de Urgencia Adultos" width="60" height="60">
            <h3>Cirugías</h3>
            <div class="resumen">Alta complejidad y UPC acorde a los más altos estándares médicos vigentes.</div>
        </div>
        <div class="panel-footer"><a href="#" class="vermas">Ver más</a></div>
    </div>
</div>