<div id="header">
      <a href="/"><div id="logo-image"> <img src="/images/logo.png" alt="">
</div>
      </a>
<nav id="menuHorizontal" style="margin-top: -50px;">
      <ul >
            <% if (user) { %>
            <% if (user.tipo === 'paciente') { %>

             <li style="padding-top: 13px; padding-right: 10px;" class="pull-right">
            <form method="post" action="/empleados/pacienteDetallesPost" >
            <button type="submit" name="rut_paciente" value="<%= user.rut %><%= user.num_verificador %>" class="astext"><span class="glyphicon glyphicon-user"></span> <%= user.nombres %></button>
             </form>
             </li>

            <li style="float: right"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></li>
            <% } else{ %>
            <li style="float: right"><a href="/empleados/empelados"><span class="glyphicon glyphicon-user"></span> <%= user.nombres %></a></li>
            <li style="float: right"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></li>
            <% } %>
            <% } else { %>
            <li style="float: right"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
            <li style="float: right"><a href="/users/register"> <span class="glyphicon glyphicon-user"></span> Registrate</a></li>
            <% } %>
      </ul>
</nav>
</div>