<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, text/html" property="og:site_name"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/styleNav.css">
<link rel="stylesheet" href="/stylesheets/styleBody.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="javascripts/script.js"></script>
<script type="text/javascript" src="ejs_production.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/javascripts/jquery.rut.js"></script>
<script src="jquery.js"></script>
<script src="jquery.validate.js"></script>
