<nav id="menuHorizontalBajo">
    <ul >
        <li style="float: left"><a href="/"> <span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        
        <li style="float: left;padding-left: 100px;"><a href="#"> Nuestra Clinica</a></li>
        <li style="float: left"><a href="#"> Servicios</a></li>
        <li style="float: left"><a href="#"> Espcialidades Medicas</a></li>
        <li style="float: left"><a href="#"> Servicios Clinicos</a></li>
        <li style="float: left"><a href="#"> Telefonos y Horarios</a></li>
        <li style="float: left"><a href="#"> Contacto</a></li>
    </ul>
</nav>