<nav  class="navbar navbar-inverse navbar-fixed-top" id="navBar">
    <div class="container-fluid" >
        <div class="navbar-header" style="padding-left: 38px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" href="#"> Cuenta <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <% if (user) { %>
                            <% if (user.tipo === 'paciente') { %>
                        <li><a href="/users/profile"> <%= user.nombres %></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Cerrar Sesion</a></li>
                            <% } else{ %>
                            <li><a href="/empleados/profile"> <%= user.nombres %></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Cerrar Sesion</a></li>
                            <% } %>
                        <% } else{ %>
                        <li><a href="/login">Iniciar Sesion</a></li>
                        <li><a href="/users/register">Registrarse</a></li>
                        <% } %>
                    </ul>
                </li>
            </ul>
            <% if (user) { %>
                 <% if (user.id_cargo === 1) { %>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/empleados/administrador">Director</a></li>
                <li><a href="#">Page 3</a></li>
                </ul>
                <% }else if (user.id_cargo === 2) { %>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/empleados/administrador">Administrador</a></li>
                </ul>
                <% }else if (user.id_cargo === 3) { %>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/empleados/administrador">Secretaria</a></li>
                <li><a href="#">Page 3</a></li>
                </ul>
                <% }else{%>
                <% } %>
            <% } %>
        </div>
    </div>
</nav>

