<nav class="sidebar navbar-inverse navbar-fixed-side navbar-fixed-side-left">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown" id="dropdownPaciente"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pacientes <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-wheelchair"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="/empleados/pacienteList">Listar</a></li>
                        <li><a href="/empleados/pacienteDetails">Consultar</a></li>
                    </ul>
                </li>
                <li class="dropdown keep-open" id="dropdownMedico">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Medicos <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-user-md"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="/empleados/medicoList">Listar</a></li>
                        <li><a href="/empleados/MedicoDetails">Consultar</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="dropdownAtenciones">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Atenciones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="/empleados/consultaList">Listar</a></li>
                        <li><a href="/empleados/consultaDetails/">Consultar</a></li>
                        <li><a href="/empleados/consultaCreate">Agregar </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
