<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio</title>
    <% include ../../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../../partials/header %>
		<% include ../../partials/horizontalMenu %>
		<br>
    </header>

    <main class="row ">

        <article >
            
            <% include ../../contents/profileContent %>
           
        </article>

    </main>

    <footer>
<% include ../../partials/footer %>

    </footer>
</body>

</html>