<div class="modal fade" id="eliminar<%= medico.id_medico %>" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <!-- /.modal-dialog -->
    <div class="modal-dialog">
        <!-- /.modal-content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Despedir Medico</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> 
                    <p>Seguro que desea despedir a <%= medico.nombres %></p>
                    <br><br> NOTA:<br><br>
                    <p>tenga en cuenta que no puede despedir Medicos que tengan consultas pendiente.</p>
                    <p>Sin embargo al despedir un Medico con consultas realizadas, nulas o rechazadas, esta consulta sera eliminada tambien.</p>
                    <p>Consultar registro si se ha eliminado consultas relacionada a un medico despedido </p>
                </div>
            </div>
            <div class="modal-footer ">
                <a href="/empleados/deleteMed/<%= medico.id_medico %>" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>