#header{
    background-color: #00377e;
    height: 200;
}
#footer{
    background-color:#00377e;
    height: 60px;
    padding-bottom: 0px;
}
#footer-text{
    padding-top: 20px;
    text-align: center;
    color: white;
}
#left-menu{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00377e;
}

  #menuHorizontal>ul 
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00377e;
}
#menuHorizontalBajo>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00377e;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: grey;
    text-decoration: none;
}

#logo-image>img{
    width: 20%;
    height: 20%;
}

#link-panel
{
    text-decoration: none !important;

}
#panel-menu
{
    background-color: #00377e;
    color: white;
}

#left-menu>li>a:hover,
#left-menu>li>a:focus
{
    background-color: #00377e;
    color: white;
}
#img-noticias1 , #img-noticias2  , #img-noticias3 , #img-noticias4
{
    width: 400px !important;
    height: 225 !important;
    padding-left: 40px !important;
}

#text-divisor{
    border-top: 4px solid #00377e;
    border-bottom: 4px solid #00377e;
    
    font-size: 22px;
    font-weight: bold;
    text-indent: 10px;
    width: 99%;
}
#text-divisor-inferior{
    
    border-bottom: 4px solid #00377e;
    
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 10px;
    width: 99%;
}

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

#form{
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: white;
}


