 body{
    margin-top: 0px;
}

.pagination>.active>span{
    background-color: #222222;
    border-color: #303030;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #6f6a6a;
    border-color: black;
    color: white;
}
.pagination>li>a, .pagination>li>span{
    color: black;
}

.well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 30px;
}

.well-title {
    margin-bottom: 40px;
}

#myForm input.error{
  border: solid 2px #CC0000;
}
#myForm input.checked{
  border: solid 2px #094AB2;
}

.table-user-information > tbody > tr >td{
    width: 200px;
}

#label_estado_1{
    color: blue;
}
#label_estado_2,#label_estado_5{
    color: green;
}
#label_estado_3,#label_estado_4{
    color: red;
}
