<div class="col-md-12" >
    <div class="col-md-12" style="padding-left: 0px;">
    <h1 class="col-md-6" style="margin-top: 0px; padding-left: 0px;">Consultas</h1>
<!--form buscar-->
    <form method="POST" action="/empleados/consultaDetallesPost" id="myForm" class="form-horizontal">
        <div class="input-group col-md-4 pull-right">
            <div class="control-group has-error">
                <input id="id_consulta" name="id_consulta" type="text" placeholder="Buscar consulta por codigo(ID)..." class="form-control input-xs" required>
            </div>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span style="margin-left:10px;">Buscar</span></button>
            </span>
        </div>
    </form>
<!-- fin from buscar-->
    </div><br><br>
<!-- Error mensajes -->
    <div class="col-md-12" style="padding-left: 0px;">
    <% if (success_msg.length > 0) {%><div class="alert alert-success"><%= success_msg %></div><% } %>
    <% if (error_msg.length > 0) {%><div class="alert alert-danger"><%= error_msg %></div><% } %>
    </div>
<!-- fin Error mensajes -->
    <div class="table" id="dvData">
        <table id="mytable" class="table table-bordred table-striped table-hover">
            <thead>
                <tr>
                <th>ID</th>
                <th>Paciente</th>
                <th>Fecha Creacion</th>
                <th>Fecha Atencion</th>
                <th>Medico</th>
                <th>Estado Consulta</th>
                <th>Celular Paciente</th>
                <!--Recordar validacion usuario>-->
                <th>Eliminar</th>
                <!--Recordar validacion usuario>-->
                </tr>
            </thead>
            <tbody>
                <% consultas.forEach(function(consulta){ %>
                    <tr>
                        <td>
                        <form method="POST" action="/empleados/consultaDetallesPost" >
                        <button type="submit" name="id_consulta" value="<%= consulta.id_consulta %>" class="btn-link"><%= consulta.id_consulta %></button>
                        </form>
                        </td>
                        <td>
                        <form method="POST" action="/empleados/pacienteDetallesPost" >
                        <button type="submit" name="rut_paciente" value="<%= consulta.rut_pac %>" class="btn-link"><%= consulta.pac_nombres %></button>
                        </form>
                        </td>
                        <td><%= consulta.fecha_creacion.toLocaleString() %></td>
                        <td><%= consulta.fecha_atencion.toLocaleString() %></td>
                        <td>
                        <form method="POST" action="/empleados/medicoDetallesPost" >
                        <button type="submit" name="rut_medico" value="<%= consulta.rut_med %>" class="btn-link"><%= consulta.med_nombres %></button>
                        </form>
                        </td>
                        <td><label id="label_estado_<%= consulta.id_estado %>"><%= consulta.nombre_estado %></label> </td>
                        <td>+<%= consulta.pac_celular %></td>
                    <!--Recordar validacion usuario>-->
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="eliminar"><button class="btn btn-danger btn-xs" data-title="eliminar<%= consulta.id_consulta %>" data-toggle="modal" data-target="#eliminar<%= consulta.id_consulta %>"><span class="glyphicon glyphicon-trash"></span></button></p>
                        </td>
                    <!--Recordar validacion usuario>-->
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <% consultas.forEach(function(consulta){ %>
    <div class="modal fade" id="eliminar<%= consulta.id_consulta %>" tabindex="-1" role="dialog" aria-label="edit" aria-hidden="true">
    <!-- /.modal-dialog -->
    <div class="modal-dialog">
        <!-- /.modal-content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align">Despedir Medico</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> 
                    Seguro que desea eliminar la consulta con ID <%= consulta.id_consulta %>?
                </div>
            </div>
            <div class="modal-footer ">
                <a href="/empleados/eliminarConsulta/<%= consulta.id_consulta %>" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <% }); %>
<!-- Pagination inicio -->
<% if (pageCount > 1) { %>  
<ul class="pagination">  
  <% if (currentPage > 1) { %>
      <li><a href="/empleados/consultaList?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;if (currentPage > 5) {i = +currentPage - 4; } %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/empleados/consultaList?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/empleados/consultaList?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
</ul>  
<% } %>
<!-- Pagination Fin -->  
</div> 