<div class="col-md-10" style="padding-top: 20px;">
        <h1>Detalle Consulta</h1>
    <div class="">
        <!--form buscar-->
        <form method="POST" action="/empleados/consultaDetallesPost" id="myForm" class="form-horizontal" style="margin-top: 25px;">
        <% if (error_msg.length > 0) {%>
            <label style="color: red; padding-top: 5"><%= error_msg %></label>
        <% }else{ %>
            <div style="height: 25px;"></div>
        <% }; %>
            <div class="input-group col-md-12 ">
                
                <div class="control-group has-error">
                    <input name="id_consulta" type="number" placeholder="Buscar por id consulta..." class="form-control input-xs" required>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span style="margin-left:10px;">Buscar</span></button>
                </span>
            </div>
        </form>
        <!-- fin from buscar-->
    </div>
</div>
<div class="" >
<div class="col-md-10" style="padding-top: 10px;">
    <% if(consultas.length > 0) {%>
        <% consultas.forEach(function(consulta){ %>
    <div class="well-block">
        <div style="margin-top: -25px;" id="dvData">
            <table class="table table-user-information table-hover">
                <tbody>
                    <tr >
                        <td ><strong>ID Consulta:</strong></td>
                        <td ><%= consulta.id_consulta %></td>
                        <td ><strong>Estado:</strong></td>
                        <td ><label id="label_estado_<%= consulta.id_estado %>"><%= consulta.nombre_estado %></label></td>
                    </tr>
                    <tr>
                        <td ><strong>Emitida por:</strong></td>
                        <td><%= consulta.emp_nombres %></td>
                        <td><strong>Fecha Consulta</strong></td>
                        <td><%= consulta.fecha_atencion.toLocaleString() %></td>
                    </tr>
                    <tr>
                        <td ><strong>Descripcion:</strong></td>
                        <td><%= consulta.observacion %></td>
                        <td><strong></strong></td>
                        <td><strong></strong></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-user-information table-hover">
                <tbody >
                    <tr >
                        <td ><strong>ID Paciente:</strong></td>
                        <td><%= consulta.id_paciente %> </td>
                        <td><strong>RUT:</strong></td>
                        <td><%= consulta.rut_pac %></td>
                    </tr>
                    <tr >
                        <td ><strong>Nombre Paciente:</strong></td>
                        <td><%= consulta.pac_nombres %> </td>
                        <td ><strong>Sexo:</strong></td>
                        <td><%= consulta.sexo %></td>
                    </tr>
                    <tr>
                        <td ><strong>Fecha Naciemito</strong></td>
                        <td><%= consulta.fecha_nac.toLocaleString() %></td>
                        <td><strong>Direccion</strong></td>
                        <td><%= consulta.direccion %></td>
                    </tr>
                    <tr>
                        <td><strong>Telefono Celular</strong></td>
                        <td>+<%= consulta.pac_celular %></td>
                        <td><strong>Telefono Contacto</strong></td>
                        <td>+<%= consulta.pac_num_contacto %></td>
                    </tr>
                </tbody>
             </table>
            <table class="table table-user-information table-hover">
                <tbody>
                    <tr >
                        <td ><strong>ID Medico:</strong></td>
                        <td ><%= consulta.id_medico %></td>
                        <td ><strong>Especialidad:</strong></td>
                        <td ><%= consulta.nombre_esp %></td>
                    </tr>
                    <tr>
                        <td ><strong>Nombre Medico:</strong></td>
                        <td ><%= consulta.med_nombres %></td>
                        <td><strong>Valor Consulta</strong></td>
                        <td>$<%= consulta.valor_consulta %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
        <form method="POST" action="/empleados/consultaUpdatePost" >
            <input id="observacion" name="observacion" value="" type="number" hidden>
            <input id="id_consulta" name="id_consulta" value="<%= consulta.id_consulta %>" type="number" hidden>
            <button type="submit" name="id_estado" value="2" class="btn btn-success">Confirmar</button>
            <button type="submit" name="id_estado" value="5" class="btn btn-success">Realizada</button>
            <button type="submit" name="id_estado" value="3" class="btn btn-danger">Anular</button>
            <button type="submit" name="id_estado" value="4" class="btn btn-danger">Perdida</button>
        </form>
        </div>
        </div><br> 
     <%  }) %> 
    <% }else{ %>
        <% if (error_aux.length > 0) {%>
    <div class="alert alert-danger"><%= error_aux %></div>
        <% } %>
    <% }; %>
</div>
<% if(consultas.length > 0) {%>
</div>
  <% consultas.forEach(function(consulta){ %>
    <div class="modal fade" id="eliminar<%= consulta.id_consulta %>" tabindex="-1" role="dialog" aria-label="edit" aria-hidden="true">
    <!-- /.modal-dialog -->
    <div class="modal-dialog">
        <!-- /.modal-content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align">Despedir Medico</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> 
                    Seguro que desea eliminar la consulta con ID <%= consulta.id_consulta %>?
                </div>
            </div>
            <div class="modal-footer ">
                <a href="/empleados/eliminarConsulta/<%= consulta.id_consulta %>" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <% }); %>
 <% }; %>