<div class="container">
    <div class="col-md-6" style="padding-top: 30px;">
        <div class="well-title">
            <h1>Nueva Consulta</h1>
        </div>
        <% if (success_msg.length > 0) {%>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
            <% } %>
                <div class="well-block">
                    <form method="POST" action="/empleados/nuevaConsulta" id="myForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="descripcion">Observacion(opcional): </label>
                                    <textarea type="text" id="observacion" name="observacion" class="form-control">...</textarea>
                                </div>
                            </div>
                            <!-- fin nombres y apellidos -->
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label" for="fecha_atencion">Fecha Atencion</label>
                                    
                                    <input id="fecha_atencion" name="fecha_atencion" type="date" placeholder="Fecha Atencion" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="hora_atencion">Hora Atencion</label>
                                    
                                    <input id="hora_atencion" name="hora_atencion" type="time" placeholder="Fecha Atencion" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Select -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="id_paciente">Paciente</label>
                                    <select id="id_paciente" name="id_paciente" class="form-control">
                                        <optgroup label="Pacientes">
                                            <% pacientes.forEach(function(paciente){ %>
                                            <option value="<%=paciente.id_paciente%>"><%=paciente.nombres%> <%=paciente.apellidos%></option>
                                            <% }); %>
                                        </optgroup>   
                                </select>
                                </div>
                            </div>
                            <!-- Select -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="id_medico">Medico</label>
                                    <select id="id_medico" name="id_medico" class="form-control">
                                        <optgroup label="Medicos">
                                            <% medicos.forEach(function(medico){ %>
                                            <option value="<%=medico.id_medico%>"><%=medico.nombres%> - <%=medico.nombre_esp%></option>
                                            <% }); %>
                                        </optgroup>   
                                    </select>
                                </div>
                            </div>
                            <!-- Button -->

                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Crear Consulta</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
    </div>
<% if (errors || error_msg.length > 0)  {%>
        <div class="col-md-4" style="padding-top: 129px;">
            <div class="row">
                <div class="well-block">
                    <% for(var i in errors){ %>
                        <div class="alert alert-danger">
                            <%= errors[i].msg%>
                        </div>
                        <% } %>
                    <% if (error_msg.length > 0) {%>
                        <div class="alert alert-danger">
                            <%= error_msg %>
                        </div>
                    <% } %>
                    <% if (error.length > 0) {%>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% }; %>
</div>

