<div class="panel panel-default panel-horizontal">
    <div class="panel-heading">
        <h3 class="panel-title">Noticia - Se encuentra la cura al cancer</h3>
    </div>
    
    <div class="panel-body" style="position: relative;">
        <div class=""><img src="/images/noticias1.jpg" id="img-noticias1" alt="noticias1"></div><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque saepe iusto nulla molestias quis esse incidunt veritatis
        exercitationem dolore officiis. Nam quos iusto officiis ullam itaque voluptatum fuga assumenda culpa!
    </div>
</div>
<div class="panel panel-default panel-horizontal">
    <div class="panel-heading">
        <h3 class="panel-title">Noticia 1</h3>
    </div>
    
    <div class="panel-body" style="position: relative;">
        <div class="img-noticias"><img src="/images/noticias2.jpg" id="img-noticias2" alt="noticias1"></div><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque saepe iusto nulla molestias quis esse incidunt veritatis
        exercitationem dolore officiis. Nam quos iusto officiis ullam itaque voluptatum fuga assumenda culpa!
    </div>
</div>

<div class="panel panel-default panel-horizontal">
    <div class="panel-heading">
        <h3 class="panel-title">Noticia 1</h3>
    </div>
    
    <div class="panel-body" style="position: relative;">
        <div class=""><img src="/images/noticias4.jpg" id="img-noticias3" alt="noticias1"></div><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque saepe iusto nulla molestias quis esse incidunt veritatis
        exercitationem dolore officiis. Nam quos iusto officiis ullam itaque voluptatum fuga assumenda culpa!
    </div>
</div>
<div class="panel panel-default panel-horizontal">
    <div class="panel-heading">
        <h3 class="panel-title">Noticia 1</h3>
    </div>
    
    <div class="panel-body" style="position: relative;">
        <div class=""><img src="/images/noticias3.jpg" id="img-noticias4" alt="noticias1"></div><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque saepe iusto nulla molestias quis esse incidunt veritatis
        exercitationem dolore officiis. Nam quos iusto officiis ullam itaque voluptatum fuga assumenda culpa!
    </div>
</div>
