<div style="padding-top: 40px;"></div>
<div class="col-md-12"  style="padding-left: 10%; padding-right: 10%;">
    <div class="well-block">
	    <div class="panel-heading"><h3>Iniciar Sesión</h3></div> 
        <div class="panel-body"> 
            <% if (success_msg.length > 0) {%> <div class="alert alert-success"><%= success_msg %></div> <% } %>
            <% if (error_msg.length > 0) {%><div class="alert alert-danger"><%= error_msg %></div><% } %>
            <% if (error.length > 0) {%><div class="alert alert-danger"><%= error %></div> <% } %>
            <form method="post" action="/login">
                <div class="form-group"> 
                    <label for="email">Email:</label> 
                    <input type="email" class="form-control" id="email" name="email" placeholder="juanito@gmail.com" required > 
                </div> 
                <div class="form-group"> 
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña..." required >
                </div>
                <div class="form-group"> 
                    <input type="submit" class="btn btn-primary" id="ok" value="Iniciar Session"> 
                </div> 
            </form> 
        </div> 
    </div>
</div>
<div style="padding-bottom: 0px;"></div>
