<div class="col-md-9" style="padding-top: 20px;">
        <h1>Detalles Medico</h1>
    <div class="">
        <!--form buscar-->
        <form method="POST" action="/empleados/medicoDetallesPost" id="myForm" class="form-horizontal" style="margin-top: 25px;">
        <% if (error_msg.length > 0) {%>
            <label style="color: red; padding-top: 5"><%= error_msg %></label>
        <% }else{ %>
            <div style="height: 25px;"></div>
        <% }; %>
            <div class="input-group col-md-12 ">
                <div class="control-group has-error">
                    <input id="rut_medico" name="rut_medico" type="text" placeholder="Buscar por Rut..." class="form-control input-xs" required>
                </div>
                <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span style="margin-left:10px;">Buscar</span></button>
                </span>
            </div>
        </form>
        <!-- fin from buscar-->
    </div>
</div>
<div class="col-md-9" style="padding-top: 10px;">
    <% if(medico.length > 0){ %> 
    <div class="well-block">
        <% medico.forEach(function(med){ %>
        <div style="margin-top: -25px;">
        <h3>ID: <%= med.id_medico %></h3>
        <h3>Nombres: <%= med.nombres %></h3>
        <h3>Apellidos: <%= med.apellidos %></h3>
        <h3>RUT: <%= med.rut %> - <%= med.num_verificador %></h3>
        <h3>Fecha Contrato: <%= med.fecha_contratacion.toLocaleString() %></h3>
        <h3>Nro. Celular: +<%= med.num_celular %></h3>
        <h3>Valor por Consulta: $<%= med.valor_consulta %></h3>
        <h3>Especialidad: <%= med.nombre_esp %></h3>
        </div>
     </div>
        <% }); %>
        <% }else{ %>
        <% if (error_aux.length > 0) {%>
        <div class="alert alert-danger"><%= error_aux %></div>
        <% } %>
    <% }; %>
</div>
