<div class="container">
    <div class="col-md-6" >
        <div class="well-title">
            <h1>Contratar Medico</h1>
        </div>
        <% if (success_msg.length > 0) {%>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
            <% } %>
                <div class="well-block">
                    <form method="POST" action="/empleados/nuevoMed" id="myForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group" id="nombre">
                                    <label class="control-label" for="nombre1">Primer Nombre</label>
                                    <input id="nombre1" name="nombre1" type="text" placeholder="Primer Nombre" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="nombre2">Segundo Nombre</label>
                                    <input id="nombre2" name="nombre2" type="text" placeholder="Segundo Nombre" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="apellido1">Apellido Paterno</label>
                                    <input id="apellido1" name="apellido1" type="text" placeholder="Apellido Paterno" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="apellido2">Apellido Materno</label>
                                    <input id="apellido2" name="apellido2" type="text" placeholder="Apellido Materno" class="form-control input-md">
                                </div>
                            </div>
                            <!-- fin nombres y apellidos -->
                            <div class="col-md-6">
                                <div class="control-group has-error ">
                                    <label class="control-label" for="rut_medico">RUT</label>
                                    <input id="rut_medico" name="rut_medico" type="text" placeholder="Rut" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br><br><br><br>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="numCel">Numero Celular</label>
                                    <input id="numCel" name="numCel" type="number" placeholder="Numero Celular" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="valorC">Valor Consulta</label>
                                    <input name="valorC" type="number" placeholder="Valor Consulta" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Select -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="especialidad">Especialidad</label>
                                    <select id="especialidad" name="especialidad" class="form-control">
                            <optgroup label="Especialidad">
                                <% especialidades.forEach(function(espec){ %>
                                 <option value="<%=espec.id_especialidad%>"><%=espec.nombre_esp%></option>
                                <% }); %>
                            </optgroup>   
                        </select>
                                </div>
                            </div>
                            <!-- Button -->

                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Agregar Medico</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
    </div>
    
    <% if (errors || error_msg.length > 0)  {%>
        <div class="col-md-4" style="padding-top: 129px;">
            <div class="row">
                <div class="well-block">
                    <% for(var i in errors){ %>
                        <div class="alert alert-danger">
                            <%= errors[i].msg%>
                        </div>
                        <% } %>
                    <% if (error_msg.length > 0) {%>
                        <div class="alert alert-danger">
                            <%= error_msg %>
                        </div>
                    <% } %>
                    <% if (error.length > 0) {%>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% }; %>
</div>

