<div class="col-md-12" style="padding-top: 20px;">
<% if(user.tipo !== 'paciente'){%>
        <h1>Detalle Paciente</h1>
        <!--form buscar-->
        <form method="POST" action="/empleados/pacienteDetallesPost" id="myForm" class="form-horizontal" style="margin-top: 25px;">
        <% if (error_msg.length > 0) {%>
            <label style="color: red; padding-top: 5"><%= error_msg %></label>
        <% }else{ %>
            <div style="height: 25px;"></div>
        <% }; %>
            <div class="input-group col-md-12 ">
                
                <div class="control-group has-error">
                    <input id="rut_paciente" name="rut_paciente" type="text" placeholder="Buscar por Rut..." class="form-control input-xs" required>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span style="margin-left:10px;">Buscar</span></button>
                </span>
            </div>
        </form>
        <!-- fin from buscar-->
<% }; %>
</div>
<div class="col-md-6" style="padding-top: 10px;">
<% if(paciente.length > 0) {%>
<% paciente.forEach(function(pac){ %>
     <div class="well-block">
        <div style="margin-top: -25px;" id="dvData">
            <table class="table table-user-information table-hover">
                <tbody>
                    <tr >
                        <td ><strong>ID Paciente:</strong></td>
                        <td ><%= pac.id_paciente %></td>
                    </tr>
                    <tr>
                        <td ><strong>Nombres:</strong></td>
                        <td><%= pac.nombres %></td>
                    </tr>
                    <tr>
                        <td ><strong>R.U.T:</strong></td>
                        <td><%= pac.rut %> - <%= pac.num_verificador %></td>
                    </tr>
                    <tr>
                        <td ><strong>Fecha Nacimiento:</strong></td>
                        <td><%= pac.fecha_nac.toLocaleDateString() %></td>
                    </tr>
                    <tr>
                        <td ><strong>Nro. Celular:</strong></td>
                        <td>+<%= pac.num_celular %></td>
                    </tr>
                    <tr>
                        <td ><strong>Nro. Contacto:</strong></td>
                        <td>+<%= pac.num_contacto %></td>
                    </tr>
                    <tr>
                        <td ><strong>Direccion:</strong></td>
                        <td><%= pac.direccion %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%  }) %> 
<% }else{ %>
<% if (error_aux.length > 0) {%>
<div class="alert alert-danger"><%= error_aux %></div>
<% } %>
<% }; %>

<% if(paciente.length > 0 ) {%>
    <% if(consulta){ %>
        <% paciente.forEach(function(pac){ %>
     <div class="col-md-6" style="padding-top: 10px;">
        <div class="well-block">
            <div style="margin-top: -25px;" id="dvData">
                <table class="table table-user-information table-hover">
                    <tbody>
                        <tr >
                            <td ><strong>ID Consulta:</strong></td>
                            <td ><%= pac.id_consulta %></td>
                        </tr>
                        <tr >
                            <td ><strong>Estado:</strong></td>
                            <td ><label id="label_estado_<%= pac.id_estado %>"><%= pac.nombre_estado %></label></td>
                        </tr>
                        <tr >
                            <td ><strong>Fecha Emitida:</strong></td>
                            <td ><%= pac.fecha_creacion.toLocaleString()%></td>
                        </tr>
                        <tr >
                            <td ><strong>Fecha Atencion:</strong></td>
                            <td ><%= pac.fecha_atencion.toLocaleString()%></td>
                        </tr>
                    </tbody>
                </table>
                <% if (user.id_cargo == 3){ %>
                        <form method="POST" action="/empleados/consultaDetallesPost" >
                        <button type="submit" name="id_consulta" value="<%= pac.id_consulta %>" class="btn">Ver detalles</button>
                        </form>
                <% }; %>
            </div>
        </div>
        <% }); %>
    <% }else{ %>
        <h2>No tiene consultas</h2>
    <% }; %>
<% }else{ %>

<% }; %>
</div>