<div class="container">
    <div class="col-md-8">
        <div class="well-title"><h1>Agregar Paciente</h1></div>
        <% if (success_msg.length > 0) {%>
            <div class="alert alert-success"><%= success_msg %></div>
        <% } %>
<div class="well-block">
    <form method="POST" action="/empleados/nuevoPaciente" id="myForm">
        <div class="row">
            <!-- nombres y apellidos -->
            <div class="col-md-4">
                <div class="control-group" id="nombre">
                    <label class="control-label" for="nombre1">Primer Nombre</label>
                    <input id="nombre1" name="nombre1" type="text" placeholder="Primer Nombre" class="form-control input-md">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="nombre2">Segundo Nombre</label>
                    <input id="nombre2" name="nombre2" type="text" placeholder="Segundo Nombre" class="form-control input-md">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="apellido1">Apellido Paterno</label>
                    <input id="apellido1" name="apellido1" type="text" placeholder="Apellido Paterno" class="form-control input-md">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="apellido2">Apellido Materno</label>
                    <input id="apellido2" name="apellido2" type="text" placeholder="Apellido Materno" class="form-control input-md">
                </div>
            </div>
            <!-- fin nombres y apellidos -->
            <div class="col-md-4">
                <div class="control-group has-error ">
                    <label class="control-label" for="rut_paciente">RUT</label>
                    <input id="rut_paciente" name="rut_paciente" type="text" placeholder="Rut" class="form-control input-md">
                </div>
            </div>
            <!-- Radio button -->
             <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="fecha_nac">Fecha Nacimiento</label>
                    <input id="fecha_nac" name="fecha_nac" type="date" placeholder="Numero Celular" class="form-control input-md">
                </div>
            </div>
            <!-- fin Radio button -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="numCel">Numero Celular</label>
                    <input id="numCel" name="numCel" type="number" placeholder="Numero Celular" class="form-control input-md">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="numCon">Numero Contacto</label>
                    <input id="numCon" name="numCon" type="number" placeholder="Numero Contacto" class="form-control input-md">
                </div>
            </div>
           <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="radio">Sexo</label>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="Feminino" checked>Feminino</label>
                        <label><input type="radio" name="optradio" value="Masculino">Masculino</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="especialidad">Comuna</label>
                    <select id="comuna" name="comuna" class="form-control">
                            <optgroup label="comunas">
                               <% comunas.forEach(function(comuna){ %>
                                 <option value="<%= comuna %>"><%= comuna %></option>
                               <% });%>
                            </optgroup>   
                        </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="numCon">Calle</label>
                    <input id="calle" name="calle" type="text" placeholder="Calle" class="form-control input-md">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="numCon">Numeracion</label>
                    <input id="numeracion" name="numeracion" type="number" placeholder="Numeracion" class="form-control input-md">
                </div>
            </div>
            
            <!-- Button -->
            <div class="col-md-10">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Agregar Paciente</button>
                </div>
            </div>
        </div>
    </form>
    <!-- form end -->
    </div>
</div>
    <% if (errors || error_msg.length > 0)  {%>
        <div class="col-md-3" style="padding-top: 129px;">
            <div class="row">
                <div class="well-block">
                    <% for(var i in errors){ %>
                        <div class="alert alert-danger">
                            <%= errors[i].msg%>
                        </div>
                        <% } %>
                    <% if (error_msg.length > 0) {%>
                        <div class="alert alert-danger">
                            <%= error_msg %>
                        </div>
                    <% } %>
                    <% if (error.length > 0) {%>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% }; %>
</div>
