<div class="col-md-12" >
    <div class="col-md-12" style="padding-left: 0px;">
    <h1 class="col-md-6" style="margin-top: 0px; padding-left: 0px;">Paciente</h1>
<!-- Form buscar -->
    <form method="POST" action="/empleados/pacienteDetallesPost" id="myForm" class="form-horizontal">
        <div class="input-group col-md-4 pull-right">
            <div class="control-group has-error">
                <input id="rut_paciente" name="rut_paciente" type="text" placeholder="Buscar por Rut..." class="form-control input-xs" required>
            </div>
            <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span style="margin-left:10px;">Buscar</span></button>
            </span>
        </div>
    </form>
<!-- fin from buscar -->
    </div><br><br>
<!-- Error mensajes -->
    <div class="col-md-12" style="padding-left: 0px;">
    <% if (success_msg.length > 0) {%><div class="alert alert-success"><%= success_msg %></div><% } %>
    <% if (error_msg.length > 0) {%><div class="alert alert-danger"><%= error_msg %></div><% } %>
    </div>
<!-- fin Error mensajes -->
<div class="table" id="dvData">
    <table id="mytable" class="table table-bordred table-striped table-hover">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Fecha Nacimiento</th>
            <th>Sexo</th>
            <th>Direccion</th>
            <th>Nro Celular</th>
            <!--Recordar validacion usuario>-->
            <th>Editar</th>
            <th>Despedir</th>
            <!--Recordar validacion usuario>-->
            </tr>
        </thead>
        <tbody>
            <% pacientes.forEach(function(paciente){ %>
                <tr>
                    <td><%= paciente.nombres %></td>
                    <td>
                    <form method="post" action="/empleados/pacienteDetallesPost" >
                    <button type="submit" name="rut_paciente" value="<%= paciente.rut %><%= paciente.num_verificador %>" class="btn-link"><%= paciente.rut %>-<%= paciente.num_verificador %></button>
                    </form>
                    </td>
                    <td><%= paciente.fecha_nac.toLocaleString() %></td>
                    <td><%= paciente.sexo %></td>
                    <td><%= paciente.direccion %></td>
                    <td>+<%= paciente.num_celular %></td>
                    <!--Recordar validacion usuario>-->
                    <td >
                        <p data-placement="top" data-toggle="tooltip" title="Detalle"><button  class="btn btn-primary btn-xs" data-title="Editar" data-toggle="modal" data-target="#detalle<%= paciente.id_paciente %>"><span class="fa fa-pencil" ></span></button></p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="eliminar"><button class="btn btn-danger btn-xs" data-title="eliminar" data-toggle="modal" data-target="#eliminar<%= paciente.id_paciente %>"><span class="glyphicon glyphicon-trash"></span></button></p>
                    </td>
                   <!--Recordar validacion usuario>-->
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% pacientes.forEach(function(paciente){ %>
    <div class="modal fade" id="eliminar<%= paciente.id_paciente %>" tabindex="-1" role="dialog" aria-label="edit" aria-hidden="true">
    <!-- /.modal-dialog -->
    <div class="modal-dialog">
        <!-- /.modal-content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align">Eliminar Paciente</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> 
                    Seguro que desea despedir a <%= paciente.nombres %>
                    <p><br> NOTA:<br></p>
                    <p>tenga en cuenta que no puede eliminar Paciente que tengan consultas pendiente.</p>
                    <p>Sin embargo al eliminar un Paciente con consultas realizadas, nulas o rechazadas, esta consulta sera eliminada tambien.</p>
                    <p>Consultar registro si se ha eliminado consultas relacionada a un paciente eliminado </p>
                </div>
            </div>
            <div class="modal-footer ">
                <a href="/empleados/eliminarPaciente/<%= paciente.id_paciente %>" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
<% }); %>
</div>
<% if (pageCount > 1) { %>  
<ul class="pagination">  
  <% if (currentPage > 1) { %>
      <li><a href="/empleados/pacienteList?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;if (currentPage > 5) {i = +currentPage - 4;} %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/empleados/pacienteList?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/empleados/pacienteList?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
</ul>  
<% } %>  
