<div class="contrainer" style="margin-left: -15px;">
    <div class="col-md-6">
        <% if (success_msg.length > 0) {%>
        <div class="alert alert-success"><%= success_msg %></div>
        <% } %>
            <div class="well-block">
                <div class="well-title" style="margin-top: -50px;"><h1>Registrarse</h1></div>
                <form method="POST" action="/users/registrar" id="myForm"><!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group has-error ">
                                <label class="control-label" for="rut_medico">RUT</label>
                                <input id="rut_medico" name="rut_medico" type="text" placeholder="Rut" class="form-control input-md">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="email">E-mail</label>
                                <input id="email" name="email" type="text" placeholder="email" class="form-control input-md">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="password">Contraseña</label>
                                <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="password">Confirmar Contraseña</label>
                                <input id="password2" name="password2" type="password" placeholder="Confirmar Contraseña" class="form-control input-md">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                            </div>
                        </div>
                    </div>
                </form><!-- form end -->
            </div> 
     </div>
<% if (errors || error_msg.length > 0)  {%>
    <div class="col-md-4" style="padding-top: 0px;">
        <div class="row">
            <div class="well-block">
                <% for(var i in errors){ %><div class="alert alert-danger"><%= errors[i].msg%> </div><% } %>
                <% if (error_msg.length > 0) {%><div class="alert alert-danger"> <%= error_msg %></div><% } %>
                <% if (error.length > 0) {%><div class="alert alert-danger"><%= error %></div><% } %>
            </div>
        </div>
    </div>
<% }else{ %>
    <div class="col-md-6" style="padding-top: 0px;">
        <div class="row">
            <div class="well-block">
                <h4>Si ya esta registrado como paciente</h4>
                <h4>puedes registrarse en el sistema con </h4>
                <h4>su rut e ingresando con un e-mail valido.</h4><br>
                <h4>Al crear una cuenta puede</h4>
                <h4>revisar su atenciones</h4><br>
                <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis 
                enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim 
                justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
                mollis pretium. Integ
                </p>
            </div>
        </div>
    </div>
<% }; %>
</div>
