<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio</title>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
		<% include ../partials/carrousel %>
		<% include ../partials/horizontalMenu %>
		<br>
    </header>

    <main class="row content">

        <article>
            <div class="col-sm-3">
				<% include ../partials/bloque-der %>
			</div>
            <div class="col-sm-5">
				<% include ../contents/index %>
            </div>
            <div class="col-sm-4">
				<% include ../partials/bloque-izq %>
			</div>
        </article>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>