<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio</title>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
		<% include ../partials/horizontalMenu %>
		<br>
    </header>

    <main class="row container ">

        <article >
            
            <% include ../contents/registerForm %>
           
        </article>

    </main>

    <footer>
<% include ../partials/footer %>

    </footer>

     <% include ../partials/scriptsMedico %>

</body>

</html>