<!DOCTYPE html>
<html lang="es">
<head>
    <title>Lista Medicos</title>
    <% include ../../partials/head %>
</head>
<body class="container col-md-12">
    <header>
        <nav>
            <% include ../../partials/navBar %>
        </nav>
    </header>
    <main class="row">
        <nav class="col-md-2">
            <% if(user){ %>
                <% if(user.id_cargo == 1){%>
                    <% include ../../partials/sideBar %>
                <% }else if(user.id_cargo == 2){ %> 
                    <% include ../../partials/sideBar %>
                <% }else if(user.id_cargo == 3){%>
                    <% include ../../partials/sideBarSecretaria %>
                <%}%>
            <% }else{%>
            <%}%>
        </nav>
        <article class="col-sm-10 col-md-10" style="padding-top: 100px; padding-left: 0px;">
            <% include ../../contents/consultaList %>
        </article>
    </main>
    <footer>
    </footer>
<% include ../../partials/scripstConsulta %>
</body>
</html>