<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio</title>
    <% include ../../partials/head %>
</head>
<% if(user.tipo !== 'paciente'){%>
<body class="container col-md-12">
    <header>

        <nav>
          <% include ../../partials/navBar %>
        </nav>
    </header>

    <main class="row">
        <nav class="col-md-2">
            <% if(user){ %>
                <% if(user.id_cargo == 1){%>
                    <% include ../../partials/sideBar %>
                <% }else if(user.id_cargo == 2){ %> 
                    <% include ../../partials/sideBar %>
                <% }else if(user.id_cargo == 3){%>
                    <% include ../../partials/sideBarSecretaria %>
                <%}%>
            <% }else{%>
            <%}%>
        </nav>
        <article class="col-sm-10 col-md-10" style="padding-top: 50px; padding-left: 0px;">
            <% include ../../contents/pacienteDetails %>
        </article>
    </main>
    <footer>
    </footer>
   <% include ../../partials/scriptsPaciente %>
</body>
<% }else{%>
    <body class="container">
    <header>
        <% include ../../partials/header %>
		<% include ../../partials/horizontalMenu %>
		<br>
    </header>

    <main class="row ">

        <article >
            
            <% include ../../contents/pacienteDetails %>
           
        </article>

    </main>

    <footer>
<% include ../../partials/footer %>
    </footer>
</body>
<%}%>
</html>